// style.scss
// @use  "./library.scss" with (
//     $black: rgb(3,3,3)
//   );
//   code {
//     border-radius: $border-radius;
//     box-shadow: $box-shadow;
//   }
// code {
//     border-radius: $border-radius;
//     box-shadow: $box-shadow;
//   }  
@import 'library';
    $border-radius: 0.1rem;

code.libraryTest{
    color:  $black;
    // 可以通过编译但是
    $black: $border-radius;
}