<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>静态资源管理器</h1>
<!-- 用于上传文件的form表单 -->
<form action="/upload" method="POST" enctype="multipart/form-data" >
  <input type="file" name="myfile">
  <button type="submit">上传文件</button>
</form>

<hr>

<!-- 文件列表 -->
<div style="color: blue;">
  <%= msg %>
</div>
<ul>
  <% list.forEach(function(item){ %>
  <li style="margin: 10px 0px;">
    <%=item%> &nbsp;
    <a href="javascript:del('<%=item%>');">删除</a> &nbsp;
    <a href="javascript:down('<%=item%>');">下载</a>
  </li>
  <% }) %>
</ul>

<script>
  //删除文件的请求方法
  function del(filename){
    var result = window.confirm(`确定要删除${filename}吗？`)
    if(result){
      window.location.href = `/del?file=${filename}`
    }
  }

  //下载文件的请求方法
  function down(filename){
    var url = `/down?fn=${filename}`
    window.location.href = encodeURI(url) //处理中文参数
  }
</script>
</body>
</html>

